<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.87">
    <script>node {
    stage(&apos;Clean UP&apos;) {

        sh &quot;rm -r -f ./j2_AWS_cloud&quot;

    }
    stage(&apos;Git Clone&apos;) { 
        
        sh &quot;git clone https://c7886025cc265940259fba6b3d60c27f73aece95@github.com/murzilius/j2_AWS_cloud&quot;
        
    }
    stage(&apos;Docker Down&apos;) { 
        sh &quot;cp wp-config.php ./j2_AWS_cloud/wordpress/&quot;
        sh &quot;cp .env ./j2_AWS_cloud/&quot;
        sh &quot;cd j2_AWS_cloud &amp;&amp; docker-compose down&quot;
    }
}    </script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <authToken>j2_AWS_cloud</authToken>
  <disabled>false</disabled>
</flow-definition>