<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <description>Wordpress Latest install</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.87">
    <script>node {
    stage(&apos;Clean UP&apos;) {

        sh &quot;rm -r -f ./{{ github_repo }}&quot;

    }
    stage(&apos;Git Clone&apos;) {

        sh &quot;git clone https://{{ github_token }}@{{ github_repo_path }}&quot;

    }
    stage(&apos;Get Wordpress&apos;) {

        sh &quot;cd {{ github_repo }} &amp;&amp; curl -o wordpress.tar.gz -fSL &apos;https://wordpress.org/latest.tar.gz&apos;&quot;
    }
    stage(&apos;Unpack&apos;) {

        sh  &quot;cd {{ github_repo }} &amp;&amp; tar -xzf wordpress.tar.gz -C ./ &amp;&amp;  rm wordpress.tar.gz &quot;

    }

    stage(&apos;Push to Git&apos;) {

         sh &quot;cd j2_AWS_cloud &amp;&amp; git add --all &amp;&amp; git commit -a -m &apos;Jenkins result&apos; &amp;&amp; git push origin --all&quot;
    }


}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>